<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzqedu.mapper.InterviewMapper">

    <resultMap id="BaseResultMap" type="com.zzqedu.domain.Interview">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="context" column="context" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,context,create_time
    </sql>

    <insert id="InsertOne">
        insert into interview(`context`, create_time) values (#{context}, #{createTime})
    </insert>

    <insert id="insertBatch" parameterType="list">
        insert into interview(`context`, create_time) values
        <foreach collection="interviews" item="interview" separator=",">
            (#{interview.context}, #{interview.createTime})
        </foreach>
    </insert>

</mapper>






























